<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2011-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2011-12-01T04:00:00Z</date>
		<key>color</key>
		<string>237,142,43,1</string>
		<key>organisation</key>
		<string>Student Marketing Australia</string>
		<key>position</key>
		<string>Apple Campus Representative</string>
		<key>description</key>
		<string>I was chosen from a vast group of students for being the most approachable and outgoing to represent Apple products at UWA to students and staff. This job required the employees to be very independent as it was up to the campus representatives to create their roasters to meet targets. </string>
		<key>imageName</key>
		<string>apple</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2010-12-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2010-12-01T04:00:00Z</date>
		<key>color</key>
		<string>252,49,89,1</string>
		<key>organisation</key>
		<string>AUC, iOS Workshop</string>
		<key>position</key>
		<string>Scholarship Recipient </string>
		<key>description</key>
		<string>I received scholarship from the Apple University Consortium to an iOS workshop in Sydney. During the workshop I was introduced to iOS development and have since continued to improve my skills and keep my expertise up to date.</string>
		<key>imageName</key>
		<string>auc</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2010-06-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2010-07-01T04:00:00Z</date>
		<key>color</key>
		<string>198,68,252,1</string>
		<key>organisation</key>
		<string>University of Western Australia</string>
		<key>position</key>
		<string>Database Manager</string>
		<key>description</key>
		<string>I created and maintained a database for a UWA Professor in the School of Plant Biology. The main goal was that the database be made available for students as a learning tool during expeditions.</string>
		<key>imageName</key>
		<string>uwa</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2012-03-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2013-06-01T04:00:00Z</date>
		<key>color</key>
		<string>85,215,105,1</string>
		<key>organisation</key>
		<string>XciteLogic Development</string>
		<key>position</key>
		<string>Software Engineer</string>
		<key>description</key>
		<string>Working at XciteLogic Development improved my software development skills. I worked on several projects in teams of various sizes. I regularly met with clients to discuss ideas, scope and support. My specialisation was in iOS development and deployment. XciteLogic Development has been acquired by another IT company.</string>
		<key>imageName</key>
		<string>xcite</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2013-10-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2100-04-01T04:00:00Z</date>
		<key>color</key>
		<string>60,171,218,1</string>
		<key>organisation</key>
		<string>Datacom</string>
		<key>position</key>
		<string>Software Engineer</string>
		<key>description</key>
		<string>I was amongst a small group of employees which were kept after Datacom acquired XciteLogic Development. My role is to develop iOS applications for both internal and external projects. I create, maintain and fix projects for clients of various size. </string>
		<key>imageName</key>
		<string>datacom</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2011-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2100-04-01T04:00:00Z</date>
		<key>color</key>
		<string>254,203,46,1</string>
		<key>organisation</key>
		<string>Appulse</string>
		<key>position</key>
		<string>Partner &amp; Co-founder</string>
		<key>description</key>
		<string>I started a business partnership called Appulse with two fellow students which creates websites and mobile applications. We use Appulse as our creative outlet for developing experiments. Its current focus is to try new ways to develop software and learn from them. </string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2012-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2012-02-01T04:00:00Z</date>
		<key>color</key>
		<string>254,203,46,1</string>
		<key>organisation</key>
		<string>Appulse</string>
		<key>position</key>
		<string>Coach&apos;s Box App</string>
		<key>description</key>
		<string>Appulse’s first project was to produce an iPad application for an Australian Rules Football board game. The project proved to be a great learning experience in iOS programming, scoping deliverables and team development. The app is available on the App Store via this link: https://itunes.apple.com/au/app/coachs-box/id500384054?mt=8.</string>
		<key>imageName</key>
		<string>cb</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2014-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-02-01T04:00:00Z</date>
		<key>color</key>
		<string>254,203,46,1</string>
		<key>organisation</key>
		<string>Appulse</string>
		<key>position</key>
		<string>UEC App</string>
		<key>description</key>
		<string>Appulse released an application for the University Engineer Club of Western Australia. The universal iOS application keeps track of the latest news and events of the club and is available on the App Store at the following link: https://itunes.apple.com/au/app/uec/id805489954?mt=8.</string>
		<key>imageName</key>
		<string>uec</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2012-08-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2012-08-01T04:00:00Z</date>
		<key>color</key>
		<string>85,215,105,1</string>
		<key>organisation</key>
		<string>XciteLogic Development</string>
		<key>position</key>
		<string>Department of Fisheries Kiosk App</string>
		<key>description</key>
		<string>I was part of the development team for an iPad kiosk application which is on display at the Department of Fisheries in Hillarys, Western Australia. The application allows the visitors to explore the flora and fauna of different regions in the state through pictures, movies and interactive games.</string>
		<key>imageName</key>
		<string>gov</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2012-04-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2012-04-01T04:00:00Z</date>
		<key>color</key>
		<string>85,215,105,1</string>
		<key>organisation</key>
		<string>XciteLogic Development</string>
		<key>position</key>
		<string>Liberal Victoria App</string>
		<key>description</key>
		<string>My first commercial application was released for the Liberal Party during my employment at XciteLogic Development. The application is now managed by another company and can be found at this link: https://itunes.apple.com/au/app/liberal-vic/id516471497?mt=8.</string>
		<key>imageName</key>
		<string>liberal</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2013-12-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2013-12-01T04:00:00Z</date>
		<key>color</key>
		<string>60,171,218,1</string>
		<key>organisation</key>
		<string>Datacom</string>
		<key>position</key>
		<string>Catholic Education Australia App</string>
		<key>description</key>
		<string>My first project at Datacom was to fix the iCE iOS application for the Catholic Education Office of WA. The project was successfully brought back on track and it has since been uploaded on the App Store at the following link: https://itunes.apple.com/au/app/ice/id766249312?mt=8.</string>
		<key>imageName</key>
		<string>ice</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2014-03-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-03-01T04:00:00Z</date>
		<key>color</key>
		<string>60,171,218,1</string>
		<key>organisation</key>
		<string>Datacom</string>
		<key>position</key>
		<string>Billanook College App </string>
		<key>description</key>
		<string>I led a project which aims to greatly improve the use iPads in schools. The iOS application called My Billanook integrates with the school’s administration system to provide modules such as calendar, homework, notices, lesson plans and newsletters. My Billanook will be in use starting from term two 2014.</string>
		<key>imageName</key>
		<string>billanook</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2014-05-26T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-05-26T04:00:00Z</date>
		<key>color</key>
		<string>198,68,252,1</string>
		<key>organisation</key>
		<string>University of Western Asutralia</string>
		<key>position</key>
		<string>Honours Thesis</string>
		<key>description</key>
		<string>For my thesis I researched and implemented an algorithm to calculate the strength of a touch using the motions it induces on a smartphone or tablet. The research project was a year long and involved writing a paper, programming a mobile application, presenting the research and creating a conference poster. The application demonstrating the algorithm and the dissertation paper can be found at this link: https://github.com/jad6/DOMATI-iOS.</string>
		<key>imageName</key>
		<string>domati</string>
	</dict>
</array>
</plist>
