<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2011-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2011-12-01T04:00:00Z</date>
		<key>color</key>
		<string>254,203,46,1</string>
		<key>organisation</key>
		<string>Student Marketing Australia</string>
		<key>position</key>
		<string>Apple Campus Representative</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>apple</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2010-12-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2010-12-01T04:00:00Z</date>
		<key>color</key>
		<string>198,68,252,1</string>
		<key>organisation</key>
		<string>AUC, iOS Workshop</string>
		<key>position</key>
		<string>Scholarship Receipient</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>auc</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2010-06-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2010-07-01T04:00:00Z</date>
		<key>color</key>
		<string>252,49,89,1</string>
		<key>organisation</key>
		<string>Uniersity of Western Australia</string>
		<key>position</key>
		<string>Database Manager</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>uwa</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2012-03-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2013-06-01T04:00:00Z</date>
		<key>color</key>
		<string>60,171,218,1</string>
		<key>organisation</key>
		<string>XciteLogic Development</string>
		<key>position</key>
		<string>Software Engineer</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>xcite</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2013-10-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2100-04-01T04:00:00Z</date>
		<key>color</key>
		<string>246,144,49,1</string>
		<key>organisation</key>
		<string>Datacom</string>
		<key>position</key>
		<string>Software Engineer</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>datacom</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2011-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2100-04-01T04:00:00Z</date>
		<key>color</key>
		<string>85,215,105,1</string>
		<key>organisation</key>
		<string>Appulse</string>
		<key>position</key>
		<string>Partner &amp; Co-founder</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2012-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2012-02-01T04:00:00Z</date>
		<key>color</key>
		<string>85,215,105,1</string>
		<key>organisation</key>
		<string>Appulse</string>
		<key>position</key>
		<string>Released Coach&apos;s Box App</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>cb</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2014-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-02-01T04:00:00Z</date>
		<key>color</key>
		<string>85,215,105,1</string>
		<key>organisation</key>
		<string>Appulse</string>
		<key>position</key>
		<string>Released UEC App</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>uec</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2012-08-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2012-08-01T04:00:00Z</date>
		<key>color</key>
		<string>60,171,218,1</string>
		<key>organisation</key>
		<string>XciteLogic Development</string>
		<key>position</key>
		<string>Departement of Fisheries Kiosk App</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>gov</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2012-04-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2012-04-01T04:00:00Z</date>
		<key>color</key>
		<string>60,171,218,1</string>
		<key>organisation</key>
		<string>XciteLogic Development</string>
		<key>position</key>
		<string>Liberal Victoria App</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>liberal</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2013-12-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2013-12-01T04:00:00Z</date>
		<key>color</key>
		<string>246,144,49,1</string>
		<key>organisation</key>
		<string>Datacom</string>
		<key>position</key>
		<string>Catholic Education Australia App</string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>ice</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2014-03-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-03-01T04:00:00Z</date>
		<key>color</key>
		<string>246,144,49,1</string>
		<key>organisation</key>
		<string>Datacom</string>
		<key>position</key>
		<string>Billanook College App </string>
		<key>description</key>
		<string>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</string>
		<key>imageName</key>
		<string>billanook</string>
	</dict>
</array>
</plist>
