<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2014-08-25T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-09-14T04:00:00Z</date>
		<key>imageName</key>
		<string>Frontier</string>
		<key>description</key>
		<string>Hired at The Frontier Group</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2014-09-14T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-09-14T04:00:00Z</date>
		<key>imageName</key>
		<string></string>
		<key>description</key>
		<string>Left The Frontier Group</string>
	</dict>
</array>
</plist>
