<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>organisation</key>
		<string>Surf Life Saving Australia</string>
		<key>position</key>
		<string>Patrol member, Scarborough Beach</string>
		<key>startDate</key>
		<date>2003-09-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2010-09-01T04:00:00Z</date>
		<key>description</key>
		<string>I committed to patrolling Scarborough beach on a biweekly basis. This greatly enhanced my personal fitness, patience and alertness as I was required to act rationally under intense situations.I committed to patrolling Scarborough beach on a biweekly basis. This greatly enhanced my personal fitness, patience and alertness as I was required to act rationally under intense situations.I committed to patrolling Scarborough beach on a biweekly basis. This greatly enhanced my personal fitness, patience and alertness as I was required to act rationally under intense situations.I committed to patrolling Scarborough beach on a biweekly basis. This greatly enhanced my personal fitness, patience and alertness as I was required to act rationally under intense situations.I committed to patrolling Scarborough beach on a biweekly basis. This greatly enhanced my personal fitness, patience and alertness as I was required to act rationally under intense situations.</string>
		<key>imageName</key>
		<string>slsa</string>
	</dict>
	<dict>
		<key>organisation</key>
		<string>Engineer University Club</string>
		<key>position</key>
		<string>Software Engineering representative</string>
		<key>startDate</key>
		<date>2009-11-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2011-02-01T04:00:00Z</date>
		<key>description</key>
		<string>I was elected by the software engineering / computer science cohort to act as their representative. This requires me to liaise between the student body and the course lecturers. I conduct meetings with faculty members to help improve the educational system of the school of computer science. I also work on improving the social aspect of student’s life on campus through encouraging active social and educational involvements in university clubs. I was re-elected this year.</string>
		<key>imageName</key>
		<string>uec</string>
	</dict>
	<dict>
		<key>organisation</key>
		<string>Engineer University Club</string>
		<key>position</key>
		<string>First Year Engineer representative</string>
		<key>startDate</key>
		<date>2009-02-01T03:00:00Z</date>
		<key>endDate</key>
		<date>2009-11-01T04:00:00Z</date>
		<key>description</key>
		<string>In my first year, I was elected to be the first year engineering representative. I represented 800 students and helped with their choice of future engineering studies. I also helped first year engineering students integrate within the wider engineering faculty.</string>
		<key>imageName</key>
		<string>uec</string>
	</dict>
	<dict>
		<key>organisation</key>
		<string>Uni Camp for Kids</string>
		<key>position</key>
		<string>Volunteer</string>
		<key>startDate</key>
		<date>2009-02-01T03:00:00Z</date>
		<key>endDate</key>
		<date>2013-11-01T04:00:00Z</date>
		<key>description</key>
		<string>I am actively involved in the charity Uni Camp for Kids as a Leader. The charity is for disadvantaged children to spend time with a large group of university students where they will be taken to pools, ovals and camps to play many different games. I volunteer at four picnics and 1 camp each year. I also volunteer yearly at the city to surf and take part in the charity’s annual tin rattle.</string>
		<key>imageName</key>
		<string>ucfk</string>
	</dict>
	<dict>
		<key>organisation</key>
		<string>Apple</string>
		<key>position</key>
		<string>WWDC Attendee</string>
		<key>startDate</key>
		<date>2013-06-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2013-06-01T04:00:00Z</date>
		<key>description</key>
		<string>I am actively involved in the charity Uni Camp for Kids as a Leader. The charity is for disadvantaged children to spend time with a large group of university students where they will be taken to pools, ovals and camps to play many different games. I volunteer at four picnics and 1 camp each year. I also volunteer yearly at the city to surf and take part in the charity’s annual tin rattle.</string>
		<key>imageName</key>
		<string>wwdc</string>
	</dict>
</array>
</plist>
