<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2011-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2011-12-01T04:00:00Z</date>
		<key>color</key>
		<string>237,142,43,1</string>
		<key>organisation</key>
		<string>Student Marketing Australia</string>
		<key>position</key>
		<string>Representant Apple au campus</string>
		<key>description</key>
		<string>J’ai été sélectionné parmi un large groupe d’étudiants pour mes qualités d’ouverture et de communication pour représenter les produits Apple auprès des étudiants et du personnel de l’université de l’Australie Occidentale. Cet emploi demandait d’être très autonome car il fallait gérer son propre emploi du temps afin d’atteindre les objectifs de la société. </string>
		<key>imageName</key>
		<string>apple</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2010-12-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2010-12-01T04:00:00Z</date>
		<key>color</key>
		<string>252,49,89,1</string>
		<key>organisation</key>
		<string>AUC, iOS Workshop</string>
		<key>position</key>
		<string>Bénéficiaire d’un prix</string>
		<key>description</key>
		<string>J’ai gagné un prix (bourse) de l’Apple University Consortium pour assister a un atelier iOS à Sydney. Durant cet atelier je fut exposé au développement pour iOS et depuis j’ai continué à perfectionner mes connaissances. </string>
		<key>imageName</key>
		<string>auc</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2010-06-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2010-07-01T04:00:00Z</date>
		<key>color</key>
		<string>198,68,252,1</string>
		<key>organisation</key>
		<string>Université d’Australie Occidentale</string>
		<key>position</key>
		<string>Administrateur de base de données</string>
		<key>description</key>
		<string>J’ai crée et maintenu une base de données pour un professeur de UWA, de la faculté de biologie des plantes. Le but principal de cette base de données était qu’elle devienne un outil d’apprentissage pour les étudiants en excursion sur le terrain.</string>
		<key>imageName</key>
		<string>uwa</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2012-03-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2013-06-01T04:00:00Z</date>
		<key>color</key>
		<string>85,215,105,1</string>
		<key>organisation</key>
		<string>XciteLogic Development</string>
		<key>position</key>
		<string>Ingénieur informatique</string>
		<key>description</key>
		<string>Travailler a XciteLogic Development m’a permit de perfectionner mes connaissances de développement de logiciel. J’ai travaillé en équipe sur plusieurs projets de différentes tailles. Je rencontrais régulièrement les clients afin de discuter leurs besoins et specifications. Ma spécialisation était de développer et mettre en place des applications iOS. XciteLogic Development fut racheté par une autre compagnie informatique.</string>
		<key>imageName</key>
		<string>xcite</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2013-10-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2100-04-01T04:00:00Z</date>
		<key>color</key>
		<string>60,171,218,1</string>
		<key>organisation</key>
		<string>Datacom</string>
		<key>position</key>
		<string>Ingénieur informatique</string>
		<key>description</key>
		<string>Je fut parmi un petit groupe d’employés que Datacom a gardé après leur acquisition de XciteLogic Development. Ma position est de développer des applications iOS pour des projets internes et externes à la société. Je crée, maintiens et améliore des projets pour des clients de différent taille.</string>
		<key>imageName</key>
		<string>datacom</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2011-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2100-04-01T04:00:00Z</date>
		<key>color</key>
		<string>254,203,46,1</string>
		<key>organisation</key>
		<string>Appulse</string>
		<key>position</key>
		<string>Partenaire &amp; Co-fondateur</string>
		<key>description</key>
		<string>J’ai crée la société Appulse avec deux amis étudiants. Cette société crée des sites web et applications pour appareils mobiles. Le but principal d’Appulse est d’experimenter de nouvelles façons de développer des logiciels. </string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2012-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2012-02-01T04:00:00Z</date>
		<key>color</key>
		<string>254,203,46,1</string>
		<key>organisation</key>
		<string>Appulse</string>
		<key>position</key>
		<string>Coach&apos;s Box App</string>
		<key>description</key>
		<string>Le premier projet d’Appulse a été de développer une application iPad pour un jeu de société sur le Football Australien. Le projet fut une grande experience d’apprentissage dans la programmation iOS, dans la definition des specifications et du travail en équipe.  L’application est disponible sur le App Store via le lien: https://itunes.apple.com/au/app/coachs-box/id500384054?mt=8.</string>
		<key>imageName</key>
		<string>cb</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2014-02-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-02-01T04:00:00Z</date>
		<key>color</key>
		<string>254,203,46,1</string>
		<key>organisation</key>
		<string>Appulse</string>
		<key>position</key>
		<string>UEC App</string>
		<key>description</key>
		<string>Appulse a crée un application pour le club des ingénieurs de l’université de l’Australie Occidentale. L’application universelle iOS affiche les dernières nouvelles et les derniers événements du club. Elle est disponible via ce lien: https://itunes.apple.com/au/app/uec/id805489954?mt=8.</string>
		<key>imageName</key>
		<string>uec</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2012-08-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2012-08-01T04:00:00Z</date>
		<key>color</key>
		<string>85,215,105,1</string>
		<key>organisation</key>
		<string>XciteLogic Development</string>
		<key>position</key>
		<string>Department of Fisheries Kiosk App</string>
		<key>description</key>
		<string>J’ai fait parti de l’équipe de développement d’une application iPad kiosque pour une exposition du Département de la Pêche de Australie Occidentale. L’application permet au visiteurs d’explorer la faune et la flore des différentes regions de l’état au travers d’images, de films et de jeux interactifs. </string>
		<key>imageName</key>
		<string>gov</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2012-04-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2012-04-01T04:00:00Z</date>
		<key>color</key>
		<string>85,215,105,1</string>
		<key>organisation</key>
		<string>XciteLogic Development</string>
		<key>position</key>
		<string>Liberal Victoria App</string>
		<key>description</key>
		<string>Ma première application commerciale a été crée pour le parti politique Liberal durant mon emploi a XciteLogic Development. L’application est maintenant gérée par une autre société et peut-être accédé par le lien: https://itunes.apple.com/au/app/liberal-vic/id516471497?mt=8.</string>
		<key>imageName</key>
		<string>liberal</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2013-12-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2013-12-01T04:00:00Z</date>
		<key>color</key>
		<string>60,171,218,1</string>
		<key>organisation</key>
		<string>Datacom</string>
		<key>position</key>
		<string>Catholic Education Australia App</string>
		<key>description</key>
		<string>Mon premier project a Datacom a été d’améliorer l’application iOS iCE pour le “Catholic Education Office of WA”. Cette amélioration fut un succès et l’application a été téléchargée sur l’App Store via le lien: https://itunes.apple.com/au/app/ice/id766249312?mt=8.</string>
		<key>imageName</key>
		<string>ice</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>2</integer>
		<key>startDate</key>
		<date>2014-03-01T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-03-01T04:00:00Z</date>
		<key>color</key>
		<string>60,171,218,1</string>
		<key>organisation</key>
		<string>Datacom</string>
		<key>position</key>
		<string>Billanook College App </string>
		<key>description</key>
		<string>J’ai dirigé un projet dont le but est d’améliorer l’utilisation des iPads dans les écoles. L’application iOS appelée My Billanook se connecte au system administratif de l’école pour afficher le calendrier, les devoirs, le planning des cours et les nouvelles. My Billanook a été utilisé depuis le début 2014.</string>
		<key>imageName</key>
		<string>billanook</string>
	</dict>
	<dict>
		<key>importance</key>
		<integer>1</integer>
		<key>startDate</key>
		<date>2014-05-26T04:00:00Z</date>
		<key>endDate</key>
		<date>2014-05-26T04:00:00Z</date>
		<key>color</key>
		<string>198,68,252,1</string>
		<key>organisation</key>
		<string>Université d’Australie Occidentale</string>
		<key>position</key>
		<string>Projet de thèse</string>
		<key>description</key>
		<string>Le sujet de recherche de ma thèse est l’implementation d’un algorithme qui calcule la force d’une touche sur un smartphone ou une tablette en utilisant les motions induites par l’interaction. Cette recherche a duré un an et j’ai produit: un article, une application iOS, une soutenance et un poster de conférence. L’application démontrant l’algorithme et l’article peuvent être trouvés sur le lien: https://github.com/jad6/DOMATI-iOS.</string>
		<key>imageName</key>
		<string>domati</string>
	</dict>
</array>
</plist>
